.containerHeader {
	background-color: #ffffff;
}
.containerNav {
	display: flex;
	text-align: center;
	justify-content: space-between;
}
.linkLogo {
	display: flex;
	gap: 10px;
	margin: 15px;
}
.textLogo {
	font-size: 16px;
}
.headerMenu {
	display: flex;
	align-items: center;
	gap: 30px;
	position: relative;
	margin-right: 170px;
}

.aboutMe {
	color: Gray;
	display: flex;
	align-items: center;
}

.aboutMe::before {
	content: url(../../assets/userCircle.svg);
}

.jobLinkActive h4::after {
	content: '';
	display: inline-block;
	position: relative;
	top: -2px;
	width: 6px;
	height: 6px;
	background-color: #4263eb;
	border-radius: 50%;
	margin-left: 6px;
	vertical-align: middle;
}
.aboutLinkActive h4::after {
	content: '';
	display: inline-block;
	position: relative;
	top: 1px;
	width: 6px;
	height: 6px;
	background-color: #4263eb;
	border-radius: 50%;
	margin-left: 6px;
	vertical-align: middle;
}
